.container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.blogList {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media screen and (max-width: 768px) {
  .container {
    margin-top: 10vh;
  }
}
