.experience {
  padding: 2rem;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.badgeDisplay {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 2rem;
}
