.cardContainer {
  display: flex;
  margin-bottom: 30px;
  position: relative;
}

.year {
  position: relative;
  margin-right: 20px;
  min-width: 60px;
}

.year span {
  font-size: 1.5rem;
  color: var(--accent-color);
}

.content {
  border-left: 2px solid var(--accent-color);
  padding-left: 20px;
  margin-left: 10px;
}

.jobTitle {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.company {
  font-weight: normal;
  font-size: 1rem;
  color: #949494;
}

.jobDescription {
  font-size: 1rem;
  margin-bottom: 5px;
}
