.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 95%;
  z-index: 9999;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.navLinks ul {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.navLinks ul li a {
  text-decoration: none;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1rem;
  color: black;
  transition: color 0.3s ease;
}

.navLinks ul li a:hover {
  color: #fa3737;
}

.menuButton {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.menuIcon {
  width: 100%;
  height: 3px;
  background-color: #000;
}

@media (max-width: 768px) {
  .navbar {
    width: 90%;
  }
  .navLinks {
    position: absolute;
    top: 60px;
    right: 0;
    background-color: white;
    width: 100vw;
    max-width: 250px;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }

  .navLinks.open {
    display: flex;
  }

  .navLinks ul {
    flex-direction: column;
    gap: 20px;
  }

  .menuButton {
    display: flex;
  }
}
