:root {
  --primary-color: #888888;
  --accent-color: #fa3737;
  --secondary-color: #d9d9d9;
  --third-color: #ffffff;
  --font-primary: "IBM Plex Sans", sans-serif;
  --font-secondary: "Open Sans", sans-serif;
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-family: var(--font-primary);
}

a {
  color: var(--accent-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
